<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <h1>Journal</h1>
<form action="/journal/create" method="post">
    <textarea name="text" placeholder="Write your journal entry here..." required></textarea>
    <button type="submit">Save Journal Entry</button>
</form>
<ul>
    {{#each journalEntries}}
        <li>
            <p>{{text}}</p>
            <p>{{date}}</p>
        </li>
    {{/each}}
</ul>
</body>
</html>
