:root {
    --primary-color: lightsteelblue;
    --secondary-color: lightpink;
    --large: 200px;
    --small: 10px;
    --timing: 8s;
}



body {
    width: 100%;
    display: grid;
   /* overflow: hidden;*/
    justify-content: center;
    align-content: center;
}
body {
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #bbf5fd; /* Replace 'path-to-your-image.jpg' with the actual path to your image */
    background-size: cover; /* Adjust the background size as needed */
    background-repeat: no-repeat;
    background-attachment: fixed; /* You can change this to scroll if you want the image to scroll with content */
}

main, section {
    height: 300px;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

section {
    height: auto;
}

.circle{
    background-color: var(--primary-color);
    width: var(--small);
    height: var(--small);
    border-radius: calc( var(--small) / 2);
    display: inline-block;
    animation: breath var(--timing) ease infinite none running
}

input {
    margin: 20px 0;
    height: 40px;
    font-size: 1.25em;
}

h1,p,input,label {
    color: #6E7B8B;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    text-align: center;
}

@keyframes breath {
 25%, 50% {
    background-color: var(--secondary-color);
    width: var(--large);
    height: var(--large);
    border-radius: calc( var(--large) / 2);
 }   
}


.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 50px 50px; /* Increased padding to make it larger */
    border-radius: 60px; /* Increased border-radius to make it rounder */
    background: white;
    margin: 0 auto; 
}

.timer__part{
    font-size: 36px;
    font-weight: bold;
}
.timer__btn{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
}

.timer__btn--start{
    background: #00b84c;

}
.timer__btn--stop{
    background: #ff0256;
    
}
.sound{
    justify-self: center;
}
select {
    margin: 20px 0;
    padding: 10px 30px;
    font-size: 1.25em;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

select:hover {
    border-color: #89e3e0;
}

#background-audio {
    display: none;
}







