<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>CalmQuest</h1>
          <p id="slogan">
            Discover Tranquility Within
          </p>
          <!--<span>
            <p>Login with social media</p>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
            <a href="#"><i class="fa fa-google" aria-hidden="true" ></i> </a>
          </span>-->
        </div>
      </div>
      <div class="right">
        <h5>Login</h5>
        <p>
          Don't have an account? <a href="/register">Creat Your Account</a> It takes
          less than a minute!
        </p>
        <div class="inputs">
          <form method="POST" action="/login">
          <input type="email" placeholder="E-Mail" name = "email" required />
          <br />
          <input type="password" placeholder="Password" name="password" required />
        </div>
        <br /><br />
        <!--<div class="remember-me--forget-password">
          <label>
            <input type="checkbox" name="item" checked />
            <span class="text-checkbox">Remember me</span>
          </label>
          
          <p>Forgot Password?</p>
        </div>-->
        <br />
        <button class="submit" input type="submit" value="Login">Login</button>
      </form>
      </div>
    </div>
  </body>
</html>
