<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> CalmQuest | Discover tranquility within </title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="images/logo1.jpeg" alt="">
      </div>
      <ul class="menu">
        <li><a href="/meditation-zone" id="up">Meditation Zone</a></li>
        <li><a href="#" id="up">Journal</a></li>
        <li><a href="#" id="up">Wellness Goals</a></li>
        <!--<li><a href="#" id="up">Services</a></li>
        <li><a href="#" id="up">Contact</a></li>-->
      </ul>
      <div class="buttons">
        <a href="/logout"><input type="button" value="Logout"></a>
      </div>
    </nav>
    <div class="text-content">
      <h2>Hey,<br> {{firstname}} </h2>
  </div>
    
    <div class="features">
        <div class="features_logo">
            <img src="images/journal.jpeg" alt="">
        </div>
        <div class="features_logo">
            <img src="images/meditate.jpeg" alt="">
        </div>
        <div class="features_logo">
            <img src="images/mood.jpeg" alt="">
        </div>
    </div>
  </header>
</body>
</html>