<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/register.css" />
  </head>
  <body>
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>CalmQuest</h1>
          <p id="slogan">
            Discover Tranquility Within
          </p>
        </div>
      </div>
      <div class="right">
        <h5>SignUp</h5>
        <p>
          Already have an account? <a href="/login">Login</a> <br>
          One step closer to Mental Peace!
        </p>
        <form action="/register" method="POST">
        <div class="inputs">
          <input type="text" placeholder="First Name" name="firstname" required/>
          <br />
          <input type="text" placeholder="Last Name" name="lastname" required/>
          <br />
          <input type="email" placeholder="Email id" name="email" required/>
          <br />
          <input type="password" placeholder="Password" name="password" required/>
          <br />
          <input type="password" placeholder="Confirm Password" name="confirmpassword" required/>
        </div>
        <br /><br />
        <br />
        <button class="submit" input type="submit" value="Register" >Sign Up</button>
      </form>
      </div>
    </div>
  </body>
</html>